* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color--primary: #f3a712;
    --color--foreground: #ffffff;
    --color--background-dark: #08081d;
    --color--background-light: #111132;
}

body {
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
    color: var(--color--foreground);
    background-color: var(--color--background-dark);
}

/****************************/
/* GLOBAL STYLES */
/****************************/

a,
a:link,
a:visited {
    color: var(--color--foreground);
    text-decoration: none;
}

.button--cta,
.button--cta:link,
.button--cta:visited {
    color: var(--color--background-dark);
    background-color: var(--color--primary);
    padding: 1rem 2rem;
    border-radius: .4rem;
    display: inline-block;
}

/* HEADINGS */
h1 {
    font-size: 7.2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.2rem;
}

/****************************/
/* HEADER */
/****************************/

header {
    background-color: var(--color--background-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.header-logo {
    width: 4rem;
}

.header--nav-list {
    display: flex;
    gap: 3rem;
    list-style: none;
}

/****************************/
/* HERO */
/****************************/

#section--hero {
    background-image: url(media/main/hero-image.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-content: center;
}