* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color--primary: #f3a712;
    --color--foreground: #ffffff;
    --color--background-dark: #08081d;
    --color--background-light: #111132;
}

body {
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
    color: var(--color--foreground);
    background-color: var(--color--background-dark);
}

/****************************/
/* GLOBAL STYLES */
/****************************/

a,
a:link,
a:visited {
    color: var(--color--foreground);
    text-decoration: none;
}

.button--cta,
.button--cta:link,
.button--cta:visited {
    color: var(--color--background-dark);
    background-color: var(--color--primary);
    padding: 0;
    border-radius: .4rem;
    display: inline-block;
}

section {
    padding: 0;
}

.container {
    width: 112rem;
    margin: 0 auto;
}

/* HEADINGS */
h1 {
    font-size: 5.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.4rem;
}

.nav-list {
    list-style: none;
}

/****************************/
/* HEADER */
/****************************/

header {
    background-color: var(--color--background-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 3.2rem;
}

.logo--header {
    width: 5rem;
}

.nav-list--header {
    display: flex;
    gap: 3.2rem
}

.nav-list--header a, .nav-list--header a:link, .nav-list--header a:visited {
    font-weight: 700;
}

/****************************/
/* FOOTER */
/****************************/

footer {
    padding: 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-column--about {
    width: 40%;
}

.logo--footer {
    width: 9.6rem;
}

.nav-list--footer {
    display: flex;
    flex-direction: column;
}

/****************************/
/* HERO */
/****************************/

#section--hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/****************************/
/* SELECTED PROJECTS */
/****************************/

#section--selected-projects {
    background-color: var(--color--background-light);
}

#section--selected-projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--project-cards {
    display: flex;
}

.project-card {
    background-color: var(--color--background-dark);
    width: 100%;
    border-radius: .8rem;
    overflow: hidden;
}

.project-card-image {
    width: 100%;
}

/****************************/
/* SKILLS */
/****************************/

.container--skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/****************************/
/* CTA */
/****************************/

#section--cta {
    background-color: var(--color--background-light);
    width: 80rem;
    margin: 0 auto 0 auto;
    padding: 0;
    border-radius: 0.8rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
}

.cta--image {
    height: 100%;
    width: 100%;
}