<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="QR cide component for visiting Frontend Mentor"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />

    <title>QR code component</title>
  </head>

  <body>
    <main class="container">
      <section class="qr-code-component">
        <img
          src="images/image-qr-code.png"
          alt="QR code leading to Frontend
      Mentor website"
          class="qr-image"
        />
        <div class="text-container">
          <p class="primary-text">
            Improve your front-end skills by building projects
          </p>
          <p class="secondary-text">
            Scan the QR code to visit Frontend Mentor and take your coding
            skills to the next level
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
