<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />

    <title>Stats preview card component</title>
  </head>

  <body>
    <div class="stats-card">
      <div class="text-box">
        <h1 class="main-heading">
          Get<span class="main-heading-highlight"> insights </span>that help
          your business grow.
        </h1>
        <p class="description">
          Discover the benefits of data analytics and make better decisions
          regarding revenue, customer experience, and overall efficiency.
        </p>
        <div class="stats-container">
          <div class="stat">
            <p class="stat-number">10k+</p>
            <p class="stat-heading">Companies</p>
          </div>
          <div class="stat">
            <p class="stat-number">314</p>
            <p class="stat-heading">Templates</p>
          </div>
          <div class="stat">
            <p class="stat-number">12M+</p>
            <p class="stat-heading">Queries</p>
          </div>
        </div>
      </div>
      <div class="image-box" role="img" aria-label="People on computers"></div>
    </div>
  </body>
</html>
