<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <meta name="description" content="Testimonials grid section" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="queries.css" />

    <title>Components</title>
  </head>
  <body>
    <div class="body-container">
      <h1>Projects</h1>
      <div class="projects">
        <section class="project">
          <img src="Images/Project-1.png" class="project-image" />
          <a
            href="3-column preview card/index.html"
            target="_blank"
            class="project-title"
            >3-column preview card</a
          >
        </section>
        <section class="project">
          <img src="Images/Project-2.png" class="project-image" />
          <a
            href="NFT preview card component/index.html"
            target="_blank"
            class="project-title"
            >NFT preview card</a
          >
          <img />
        </section>
        <section class="project">
          <img src="Images/Project-3.png" class="project-image" />
          <a
            href="Order summary component/index.html"
            target="_blank"
            class="project-title"
            >Order summary</a
          >
          <img />
        </section>
        <section class="project">
          <img src="Images/Project-4.png" class="project-image" />
          <a
            href="Product preview card component/index.html"
            target="_blank"
            class="project-title"
            >Product preview</a
          >
          <img />
        </section>
        <section class="project">
          <img src="Images/Project-5.png" class="project-image" />
          <a
            href="QR code component/index.html"
            target="_blank"
            class="project-title"
            >QR code</a
          >
          <img />
        </section>
        <section class="project">
          <img src="Images/Project-6.png" class="project-image" />
          <a
            href="Stats preview card/index.html"
            target="_blank"
            class="project-title"
            >Stats preview card</a
          >
          <img />
        </section>
        <section class="project">
          <img src="Images/Project-7.png" class="project-image" />
          <a
            href="Testimonials grid section/index.html"
            target="_blank"
            class="project-title"
            >Testimonials grid section</a
          >
          <img />
        </section>
      </div>
      <footer>
        <h2 class="footer-text">Hi I am a footer</h2>
      </footer>
    </div>
  </body>
</html>
