<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Order summary card" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />

    <title>Order summary card</title>
  </head>

  <body>
    <div class="container">
      <div class="summary-card">
        <img
          src="images/illustration-hero.svg"
          alt="Illustration of girl listening and dancing to music"
          class="image"
        />
        <div class="text-container">
          <p class="title">Order Summary</p>
          <p class="description">
            You can now listen to millions of songs, audiobooks, and podcasts on
            any device anywhere you like!
          </p>
          <div class="plan-container">
            <div class="plan-container--2">
              <img
                src="images/icon-music.svg"
                alt="Music icon"
                class="music-icon"
              />
              <div class="price-and-title">
                <p class="plan-title">Annual Plan</p>
                <p class="plan-price">$59.99/year</p>
              </div>
            </div>
            <a href="#" class="change-plan">Change</a>
          </div>
          <a href="#" class="proceed">Proceed to Payment</a>
          <a href="#" class="cancel">Cancel Order</a>
        </div>
      </div>
    </div>
  </body>
</html>
